extends ../layouts/default

block content
	.container: .jumbotron
		h1 Welcome
		p This is an australian public holidays api service.
		p This api returns public holiday data in json format.
		p You can check if a particular day is a public holiday in your state.
		p More details on how to use this service to come.
		p check out this <a href="http://localhost:3000/api/by-state/NSW?date=2015-01-26" target="_blank">example</a>
		hr
		
		p The data has been sourced from <a href="https://data.gov.au/dataset/australian-holidays-machine-readable-dataset" target="_blank">data.gov.au</a>
